<%= page_heading("login") %>
<% content_for :head do %>
  <style type="text/css">
    .content{ padding-top: 50px; }
    .content .span6 { margin-top: 40px; min-height: 500px; }
  </style>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Uh oh!</strong> Your username and password do not match.
  </div>
<% elsif flash[:notice] %>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="row">
  <div class="span4 offset3">
    <p>Don't have an account?
      <%= link_to "Create One", new_user_path, :class => "blue_link" %></p>
    <p>Forgot your password?
      <%= link_to "Click Here", reset_password_path %></p>
  </div>
</div>
<div class="row">
  <div class="span6 offset2">
    <%= twitter_bootstrap_form_for :user, :html => { :class => 'form-horizontal'}, :url => authenticate_path do |user| %>
      <%= user.fieldset 'Login', :class => 'sign_up' do %>
        <%= user.text_field :email %>
        <%= user.password_field :password %>
        <%= user.label '' do |controls| %>
          <%= controls.check_box :remember_me, " Remember me?", :checked => true %>
        <% end %>
        <%= user.actions do %>
          <%= user.submit 'Login' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>